.all-container {
  // margin-top: 100px;
  position: relative;
  z-index: 10;
  margin-top: 100px;
}
.acc-search {
  margin-top: 90px;
}
.bg-img {
  height: 400px;
  // width: 100%;
  position: absolute;
  width: 100%;
  // height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center center;
  background-image: url(https://res.cloudinary.com/dkabisw/image/upload/v1574511672/thailand_lgkk4e.jpg);
}
.red {
  display: flex;
  height: 200px;
  margin-bottom: 22px;
  padding: 2px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  background: #fff;
  .image {
    flex-grow: 1;
    height: 100%;
    width: 400px;
    background-position: center center;
    background-size: 100% auto;
    border: 1px solid black;
  }
  .info {
    position: relative;
    flex-grow: 2;
    padding: 10px;
    .name {
      margin-bottom: 3px;
    }
    .location {
      margin: 2px 0;
      font-size: 11px;
    }
    .rate {
      margin-top: 3px;
    }
    .bottom {
      position: absolute;
      bottom: 10px;
      .like {
        margin-right: 20px;
      }
    }
  }
  .description {
    line-height: 1.4;
    margin-top: 15px;
    font-size: 12px;
  }
}
.checked {
  color: orange;
}
.red:hover {
  border: 1px solid black;
  cursor: pointer;
}
.main-frame {
  // background: #f6f7fb;
  background: #fdfdfd;
}
.main_container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  color: #515151;
  .side-info {
    padding: 10px;
    border: 0.5px rgb(204, 204, 204) solid;
    height: 420px;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    margin-top: 90px;
  }
  h2 {
    color: black;
  }
  .details {
    width: 100%;
  }
  .rooms {
    // border: 0.5px rgb(204, 204, 204) solid;
    border: 1px rgb(204, 204, 204) solid;
    background: #fff;
    width: 100%;
    height: 220px;
    margin-top: 20px;
    padding: 10px;
    .roomcard {
      position: relative;
      width: 200px;
      box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
      margin-left: 20px;
      border: 0.5px #d9e4f6 solid;
      // background: #d9e4f6;
      .sec {
        background: #789bed;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        clip-path: polygon(62% 0, 100% 0, 35% 100%, 0 100%, 100% 44%);
      }
      .fir {
        background: #e15ebc;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        clip-path: circle(41.3% at 76% 31%);
      }
      .thir {
        background: #01b5aa;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        clip-path: polygon(100% 0, 43% 18%, 100% 100%);
      }
      .room-info {
        position: absolute;
        top: 10px;
        left: 10px;
        line-height: 1.4;
        p {
          padding-left: 5px;
        }
      }
      .second {
        h4 {
          color: #3359de;
        }
      }
      .first {
        h4 {
          color: #e15ebc;
        }
      }
      .third {
        h4 {
          color: #01b5aa;
        }
      }
    }
  }
  .comments {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    background: #f6f7fb;
    height: 220px;
    margin-top: 20px;
  }
}
.scroll_container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-overflow-scrolling: touch;
  .one_card {
    flex: 0 0 auto;
  }
}
.details {
  padding: 5px;
  .im {
    height: 400px;
    background-position: center center;
  }
  .top-title {
    .rate {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .describe {
    line-height: 1.6;
    margin: 10px 0;
  }
  .other-images {
    margin-top: 5px;
    height: 80px;
    filter: alpha(opacity=50);
    .imagecard {
      cursor: pointer;
      background-position: center center;
      width: 90px;
      margin-left: 5px;
      text-align: center;
      opacity: 0.7;
    }
    .imagecard:hover {
      opacity: 1;
    }
  }
  .amenser {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    h4 {
      color: #3359de;
    }
    ol {
      list-style: square;
    }
  }
  .view-all {
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
    color: #238ee0;
  }
}
.room-container {
  margin-top: 20px;
  h3 {
    color: #3359de;
  }
}
.side-info {
  .map {
    margin-top: 10px;
    height: 200px;
  }
  .hword {
    font-size: 16px;
  }
  .rating {
    margin-top: 10px;
    font-size: 20px;
  }
  .review {
    margin-top: 15px;
    a {
      text-decoration: none;
    }
  }
  .like {
    font-size: 18px;
  }
  h3,
  h4 {
    color: #3359de;
  }
}
.m-1 {
  margin-right: 16px;
}
[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.acc-image-upload {
  [type="file"] {
    color: #3359de;
    display: block;
    margin-top: 5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    border: 1px solid #999;
    border-radius: 3px;
  }
  [type="file"]:hover {
    border-color: black;
  }
}
.map-form {
  margin-bottom: 35px;
}
