.modal-container {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-modal {
  border-radius: 4px;
  padding: 20px;
  position: fixed;
  background: white;
  text-align: center;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-modal {
  width: 30%;
  text-align: left;
  height: 65%;
  line-height: 1.6;
  overflow: scroll;
  background: white;
  padding: 40px;
  color: #515151;
  h3 {
    color: #3359de;
  }
}
