$Mediumscreen: 413px;
$SmallScreen: 551px;

@mixin medium {
  @media (max-width: #{$Mediumscreen}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$SmallScreen}) {
    @content;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  @include medium() {
    width: 95%;
  }

  @include small {
    width: 95%;
  }
}
.filter {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
  justify-content: center;
}

.filter-items {
  width: 60%;
}

.trips {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.dash-rooms {
  margin-top: 30px;
  .rooms {
    border: none;
    background: none;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
  }
  .roomcard {
    background: #fff;
    margin-bottom: 20px;
  }
}
.dash-trip {
  border: 1px black solid;
  width: 100%;
  position: relative;
  margin-top: 100px;
  .c-trip {
    margin-top: 50px;
  }
}
.dash-bottom {
  .dash-stat {
    .card {
      height: 120px;
      background-color: rgb(242, 248, 255);
    }
  }
}

.requests {
  border: 1px rgb(204, 204, 204) solid;
  background: #fff;
  width: 85%;
  height: 220px;
  margin-top: 20px;
  padding: 10px;
  .reqcard {
    position: relative;
    width: 280px;
    margin-left: 20px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
}
