.input {
  height: 40px;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 3px;
  outline: 0;
  padding: 6px 10px;
  border: 0.5px #3579f734 solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  &:focus {
    border-color: #3579f7;
  }
  &:disabled {
    color: #000000;
  }
}

.full-width {
  width: 100%;
  margin-top: 3px;
}

.form-error {
  font-size: 50;
  color: crimson;
  margin: 0 10px;
}
