.menu-pane {
  margin: -5px auto 0 auto;
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  padding: 2px;
  text-align: left;
  position: absolute;
  z-index: 2;
}

.showMenu {
  opacity: 1;
  background-color: transparent;
}

.hideMenu {
  transition: top 0.4s, opacity 0.4s;
  opacity: 0;
  display: none;
}

.modal-menu {
  position: absolute;
  z-index: 3; /* Sit on top */
  max-height: 330px;
  font-size: 12px;
  right: 0;
  margin-right: 20px;
  left: 0;
  width: 100%;
}

.modal-menu > .modal-content {
  border-radius: 2px;
  border-bottom: 3px #3c80ffa4 solid;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.modal-menu > .modal-content > .modal-body {
  padding: 0;
}

.menu-item-sm {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  a {
    color: #3579f7;
  }

  &:hover,
  &:focus {
    color: #2a73fa;
    text-decoration: none;
    background-color: #edeeee;
  }
}
