.profile-picture {
  border-radius: 50%;
}

.profile-form {
  margin: 20px 50px;
}

.picture-form {
  margin: 20px 50px;
}

.file-chooser {
  font-size: 0.7rem;
}

.profile-view {
  padding: 20px;
}

.blue {
  color: #3579f7;
}
