.roles-panel {
  width: 100%;
  height: auto;
  padding: 2rem;
  // border:1px solid grey;
  box-shadow: 0 0 15px #00000030;
  .title {
    color: black;
  }
}

.call-to-action {
  color: #545454;
  background-color: azure;
  padding: 12px;
  box-shadow: 0 0 15px #00000030;
  border-radius: 4px;
}
