/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 15px #00000030;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #3773cc;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  border-bottom: 1px solid #646262;
  color: #646262;
}
