.btn {
  height: 40px;
  margin: 8px;
  color: white;
  outline: 0;
  text-transform: uppercase;
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  font-size: 500;
  font-weight: normal;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 0.6s ease;
  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3;
  }
}
.large {
  padding: 12px 80px;
}

.btn-primary {
  background-color: #3579f7;
  &:hover {
    background-color: #306fe4da;
  }
}
.btn-secondary {
  color: #3579f7;
  background-color: #ffffff;
  border: 1px #3579f7 solid;
  box-shadow: 0 0 0 0;
  &:hover {
    background-color: #2c68d6da;
    color: #ffffff;
  }
}
.btn-danger {
  background-color: #db3d57;
  &:hover {
    background-color: #ca3951e0;
  }
}
.btn-warning {
  background-color: #f3b926;
  &:hover {
    background-color: #d8a523da;
  }
}

.btn-success {
  background-color: #47c75d;
  &:hover {
    background-color: #40b954e8;
  }
}

.btn-info {
  background-color: #4987fa;
  &:hover {
    background-color: #3d76e0;
  }
}

@mixin medium-grid {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }
  @for $x from 1 through 12 {
    .col-#{$x} {
      grid-column: span #{$x} / auto;
      display: inline-block;
    }
  }
}

@mixin small-grid {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

$offset: 8.333333%;

@mixin offset {
  @for $i from 1 through 11 {
    .o-#{$i} {
      margin-left: $offset * $i;
    }
  }
}

@media only screen and (min-width: 560px) {
  @include medium-grid;
  @include offset;
}

@media only screen and (max-width: 560px) {
  @include small-grid;
}

.element {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.blue {
  background-color: rgb(0, 122, 170);
}

.red {
  background-color: rgb(226, 19, 60);
}
.frm-input {
  border: 0.8px solid #707070;
  border-radius: 3px;
  height: 25px;
  font-size: 17px;
  padding: 1px 3px;
  outline-style: none;
}
