.spinner-default {
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-radius: 50%;
  border-bottom: 10px solid #1976d2;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-center {
  margin: 30vh auto;
}

.verify-email-page {
  margin: 20vh auto;
  .barefoot-logo {
    width: 15%;
    display: block;
    margin: 20px auto;
  }
}
